<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/admin-page']">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" > Clases </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Clases</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let c of clases" [routerLink]="['/perfil-clases', c.id]">
        <ion-slide>
          <ion-label>
            {{c.nombre}} {{c.sigla}}
            </ion-label>
          </ion-slide>
      </ion-list>
    </ion-card-content>




  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button>
        algo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
