<ion-header>
  <ion-toolbar color="secondary" >
      <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center" >Clase</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-card>
      <ngx-qrcode [elementType]="elementType" [value]="id_asis"></ngx-qrcode>
      <ion-input [(ngModel)]="id_asis" disabled="true"></ion-input>
  </ion-card>
  <ion-card>
    
    <ion-card-content *ngFor="let datosClases of listaClases " >
      <ion-item>
        <label>{{ datosClases.id }}</label>
      </ion-item>
      <ion-item>
        <ion-label>{{ datosClases.nombre }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ datosClases.sigla }}</ion-label>
      </ion-item>
      <ion-item>
      <ion-button (click)="crearAsistencia(datosClases.id)">Crear Nueva Clase</ion-button>
      </ion-item>
    </ion-card-content>  
  </ion-card>
</ion-content>
